USE [master]
GO
/****** Object:  Database [SBSecurityDB]    Script Date: 15/07/2023 3:44:20 AM ******/
CREATE DATABASE [SBSecurityDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SBSecurityDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\SBSecurityDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SBSecurityDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\SBSecurityDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SBSecurityDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SBSecurityDB]
GO
USE [SBSecurityDB]
GO
/****** Object:  UserDefinedFunction [dbo].[GetChildMenus]    Script Date: 15/07/2023 3:44:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sreemonta Bhowmik
-- Create date: 14.07.2023
-- Description: To generate children menu under particular menu
-- =============================================
CREATE FUNCTION [dbo].[GetChildMenus](@parentId UNIQUEIDENTIFIER)
RETURNS NVARCHAR(MAX)
AS
BEGIN
    RETURN (
        SELECT
			 [Id]
            ,[Name]
			,[IsHeader]
			,[CssClass]
			,[RouteLink]
			,[RouteLinkClass]
			,[Icon]
			,[Remark]
			,[ParentId]
			,[DropdownIcon]
			,[SerialNo]
			,[CreatedBy]
			,[CreatedDate]
			,[UpdatedBy]
			,[UpdatedDate]
			,[IsActive],
            ISNULL(JSON_QUERY(dbo.GetChildMenus(UM.Id), '$'), '[]') AS Children
        FROM
            UserMenu UM
        WHERE
            ParentId = @parentId
        FOR JSON PATH
    )
END

GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 15/07/2023 3:44:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SecurityLog]    Script Date: 15/07/2023 3:44:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecurityLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[MessageTemplate] [nvarchar](max) NULL,
	[Level] [nvarchar](max) NULL,
	[TimeStamp] [datetime] NULL,
	[Exception] [nvarchar](max) NULL,
	[Properties] [nvarchar](max) NULL,
 CONSTRAINT [PK_SecurityLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 15/07/2023 3:44:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[Id] [uniqueidentifier] NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[UserName] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[SaltKey] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[UserRole] [nvarchar](max) NOT NULL,
	[LastLoginAttemptAt] [datetime2](7) NULL,
	[LoginFailedAttemptsCount] [int] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_UserInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLogin]    Script Date: 15/07/2023 3:44:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogin](
	[Id] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[RefreshToken] [nvarchar](max) NULL,
	[RefreshTokenExpiryTime] [datetime2](7) NULL,
 CONSTRAINT [PK_UserLogin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMenu]    Script Date: 15/07/2023 3:44:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMenu](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[IsHeader] [bit] NULL,
	[CssClass] [nvarchar](max) NULL,
	[RouteLink] [nvarchar](max) NULL,
	[RouteLinkClass] [nvarchar](max) NULL,
	[Icon] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL,
	[ParentId] [uniqueidentifier] NULL,
	[DropdownIcon] [nvarchar](max) NULL,
	[SerialNo] [int] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_UserMenu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 15/07/2023 3:44:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[Id] [uniqueidentifier] NOT NULL,
	[RoleName] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoleMenu]    Script Date: 15/07/2023 3:44:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoleMenu](
	[Id] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[MenuId] [uniqueidentifier] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_UserRoleMenu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230713190443_SeedingData', N'7.0.4')
SET IDENTITY_INSERT [dbo].[SecurityLog] ON 

INSERT [dbo].[SecurityLog] ([Id], [Message], [MessageTemplate], [Level], [TimeStamp], [Exception], [Properties]) VALUES (1, N'Application is starting', N'Application is starting', N'Information', CAST(N'2023-07-13T23:07:06.813' AS DateTime), NULL, N'<properties><property key=''MachineName''>ANU-PC</property><property key=''EnvironmentUserName''>ANU-PC\anann</property></properties>')
SET IDENTITY_INSERT [dbo].[SecurityLog] OFF
INSERT [dbo].[UserInfo] ([Id], [FullName], [UserName], [Password], [SaltKey], [Email], [UserRole], [LastLoginAttemptAt], [LoginFailedAttemptsCount], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [IsActive]) VALUES (N'1d90437e-d986-435f-8712-2058f70ae704', N'Anannya Rohine', N'anu', N'$2b$10$dqPNaHnCGjUcvxXHTRXmDeNwNRQ0YI8kT9376noZw8i8tDj8KKoEa', N'$2b$10$dqPNaHnCGjUcvxXHTRXmDe', N'rohine2008@gmail.com', N'User', CAST(N'2023-07-13T23:36:00.9576134' AS DateTime2), 0, NULL, CAST(N'2023-07-13T19:04:43.7762141' AS DateTime2), NULL, CAST(N'2023-07-13T19:04:43.7762142' AS DateTime2), 1)
INSERT [dbo].[UserLogin] ([Id], [UserName], [Password], [RefreshToken], [RefreshTokenExpiryTime]) VALUES (N'c9210cab-8780-4699-b275-dc07211a0679', N'sree', N'$2b$10$dqPNaHnCGjUcvxXHTRXmDeNwNRQ0YI8kT9376noZw8i8tDj8KKoEa', N'GGdGIWU7Vu6J+ordpttySk+8nz+wbrckNfDVfZEhQaQ=', CAST(N'2023-07-20T23:36:01.5719050' AS DateTime2))
INSERT [dbo].[UserMenu] ([Id], [Name], [IsHeader], [CssClass], [RouteLink], [RouteLinkClass], [Icon], [Remark], [ParentId], [DropdownIcon], [SerialNo], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [IsActive]) VALUES (N'9ee64115-c836-48c6-824a-0420fa6473f8', N'Business', 1, N'nav-header', N'', N'', N'', N'Header', NULL, NULL, 3, NULL, CAST(N'2023-07-13T19:04:43.7762260' AS DateTime2), NULL, CAST(N'2023-07-13T19:04:43.7762260' AS DateTime2), 1)
INSERT [dbo].[UserMenu] ([Id], [Name], [IsHeader], [CssClass], [RouteLink], [RouteLinkClass], [Icon], [Remark], [ParentId], [DropdownIcon], [SerialNo], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [IsActive]) VALUES (N'a2228b17-c6ab-4da0-a071-65a099f03d56', N'User', 0, N'nav-item', N'/business/security', N'nav-link', N'far fa-circle nav-icon', N'Navigation Item', N'd4e001f6-9dc8-46f2-bfd9-f63ba5f1c1ab', NULL, 5, NULL, CAST(N'2023-07-13T19:04:43.7762276' AS DateTime2), NULL, CAST(N'2023-07-13T19:04:43.7762276' AS DateTime2), 1)
INSERT [dbo].[UserMenu] ([Id], [Name], [IsHeader], [CssClass], [RouteLink], [RouteLinkClass], [Icon], [Remark], [ParentId], [DropdownIcon], [SerialNo], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [IsActive]) VALUES (N'fa9b5c11-39e9-43f7-9431-86acb209e552', N'App Settings', 0, N'nav-item', N'/business/appsettings', N'nav-link active', N'nav-icon fas fa-cog', N'Navigation Item', NULL, NULL, 7, NULL, CAST(N'2023-07-13T19:04:43.7762280' AS DateTime2), NULL, CAST(N'2023-07-13T19:04:43.7762280' AS DateTime2), 1)
INSERT [dbo].[UserRole] ([Id], [RoleName], [Description], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [IsActive]) VALUES (N'ee4338ad-5e80-40d6-88eb-085cddea22c0', N'Admin', N'Admin', NULL, CAST(N'2023-07-13T19:04:43.7762232' AS DateTime2), NULL, CAST(N'2023-07-13T19:04:43.7762233' AS DateTime2), 1)
INSERT [dbo].[UserRole] ([Id], [RoleName], [Description], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [IsActive]) VALUES (N'ae992bbb-ecfa-428e-9e7c-760b29ba1311', N'User', N'User', NULL, CAST(N'2023-07-13T19:04:43.7762235' AS DateTime2), NULL, CAST(N'2023-07-13T19:04:43.7762235' AS DateTime2), 1)
INSERT [dbo].[UserRoleMenu] ([Id], [RoleId], [MenuId], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [IsActive]) VALUES (N'e5737a4f-f443-44da-908f-0a0c492706de', N'ae992bbb-ecfa-428e-9e7c-760b29ba1311', N'0ba16451-3045-4770-8e05-f894666acaf4', NULL, CAST(N'2023-07-13T19:04:43.7762344' AS DateTime2), NULL, CAST(N'2023-07-13T19:04:43.7762344' AS DateTime2), 1)
INSERT [dbo].[UserRoleMenu] ([Id], [RoleId], [MenuId], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [IsActive]) VALUES (N'b94b29b1-424f-4789-9ba3-259610b0b36a', N'ae992bbb-ecfa-428e-9e7c-760b29ba1311', N'9228b41c-8db5-4624-9427-be645234759f', NULL, CAST(N'2023-07-13T19:04:43.7762344' AS DateTime2), NULL, CAST(N'2023-07-13T19:04:43.7762344' AS DateTime2), 1)
INSERT [dbo].[UserRoleMenu] ([Id], [RoleId], [MenuId], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [IsActive]) VALUES (N'b3510ee6-7692-4d32-8a69-3fe12d3b3fd9', N'ee4338ad-5e80-40d6-88eb-085cddea22c0', N'9ee64115-c836-48c6-824a-0420fa6473f8', NULL, CAST(N'2023-07-13T19:04:43.7762344' AS DateTime2), NULL, CAST(N'2023-07-13T19:04:43.7762344' AS DateTime2), 1)
/****** Object:  StoredProcedure [dbo].[GetMenuWithChildrenAsJson]    Script Date: 15/07/2023 3:44:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sreemonta Bhowmik
-- Create date: 14.07.2023
-- Description: To generate parent menu.
-- =============================================
--EXEC GetMenuWithChildrenAsJson 'C68023AA-8D1C-47AB-90E2-3AD749F4CB1C'
--EXEC GetMenuWithChildrenAsJson '1D90437E-D986-435F-8712-2058F70AE704'
CREATE PROCEDURE [dbo].[GetMenuWithChildrenAsJson]
@UserId				UNIQUEIDENTIFIER
AS
BEGIN
DECLARE @JsonMenu NVARCHAR(MAX),
		@RoleId UNIQUEIDENTIFIER,
		@RoleName VARCHAR(20);
 --   SELECT
 --        [Id]
	--	,[Name]
	--	,[IsHeader]
	--	,[CssClass]
	--	,[RouteLink]
	--	,[RouteLinkClass]
	--	,[Icon]
	--	,[Remark]
	--	,[ParentId]
	--	,[DropdownIcon]
	--	,[SerialNo]
	--	,[CreatedBy]
	--	,[CreatedDate]
	--	,[UpdatedBy]
	--	,[UpdatedDate]
	--	,[IsActive],
 --       dbo.GetChildMenus(UM.Id) AS Children
 --   FROM
 --       UserMenu UM
 --   WHERE
 --       ParentId IS NULL
	--ORDER BY SerialNo
 --   FOR JSON PATH, ROOT('UserMenu');
	SELECT @RoleName = UserRole FROM UserInfo UI WHERE  UI.Id =  @UserId
	SELECT @RoleId = UR.Id FROM UserRole UR WHERE  UR.RoleName = @RoleName
	
	SELECT @JsonMenu = (
        SELECT
         UM.[Id]
		,UM.[Name]
		,UM.[IsHeader]
		,UM.[CssClass]
		,UM.[RouteLink]
		,UM.[RouteLinkClass]
		,UM.[Icon]
		,UM.[Remark]
		,UM.[ParentId]
		,UM.[DropdownIcon]
		,UM.[SerialNo]
		,UM.[CreatedBy]
		,UM.[CreatedDate]
		,UM.[UpdatedBy]
		,UM.[UpdatedDate]
		,UM.[IsActive],
        ISNULL(JSON_QUERY(dbo.GetChildMenus(UM.Id), '$'), '[]') AS Children
    FROM
        UserMenu UM
		INNER JOIN UserRoleMenu URM ON URM.MenuId = UM.Id
		WHERE URM.RoleId = @RoleId AND UM.ParentId IS NULL
        
	ORDER BY SerialNo
        --FOR JSON AUTO,INCLUDE_NULL_VALUES, WITHOUT_ARRAY_WRAPPER
		FOR JSON AUTO,INCLUDE_NULL_VALUES, ROOT('Menu')
		--FOR JSON PATH,INCLUDE_NULL_VALUES, ROOT('Menu')
    );

    SELECT @JsonMenu AS JsonMenu;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteUser]    Script Date: 15/07/2023 3:44:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sreemonta Bhowmik
-- Create date: 26.04.2023
-- Description:	Delete a user
-- =============================================
--EXEC SP_DeleteUser '10BB4212-AC20-4AC5-A3F6-B5FFF08338C8'
CREATE PROCEDURE [dbo].[SP_DeleteUser]
(
   @Id			UNIQUEIDENTIFIER,
   @IsDelete	BIT
)
AS
BEGIN
	IF (@IsDelete = 1)
	BEGIN
		DELETE FROM [dbo].[UserInfo]
		WHERE Id = @Id
		SELECT @@ROWCOUNT AS 'RowsAffected';
	END
	ELSE
	BEGIN
		UPDATE [dbo].[UserInfo] SET IsActive = 0
		WHERE Id = @Id
		SELECT @@ROWCOUNT AS 'RowsAffected';
	END
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllUser]    Script Date: 15/07/2023 3:44:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sreemonta Bhowmik
-- Create date: 25.04.2023
-- Description:	Get all users
-- =============================================
--EXEC SP_GetAllUser 1, 1, true, null
--EXEC SP_GetAllUser 2, 1, true, null
--EXEC SP_GetAllUser 1, 2, true, null
--EXEC SP_GetAllUser 2, 2, true, null
CREATE PROCEDURE [dbo].[SP_GetAllUser] 
	@PageIndex INT, @PageSize INT
	--, @GetTotal BIT, @TotalRecords INT OUTPUT 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;
	--SET @TotalRecords = 0  
	--IF(@GetTotal = 1)  
	--BEGIN  
	--SELECT @TotalRecords = COUNT(Id) FROM UserInfo  
	--END  
	SET @PageIndex = (CASE WHEN @PageIndex = 0 THEN 1 ELSE @PageIndex END)
	SELECT UI.Id, UI.FullName,UI.UserName,NULL AS [Password],UI.SaltKey,UI.Email,UI.UserRole,UI.LastLoginAttemptAt,
	UI.LoginFailedAttemptsCount,UI.CreatedBy,UI.CreatedDate,UI.UpdatedBy,UI.UpdatedDate
	FROM UserInfo UI
	ORDER BY Id ASC OFFSET (@PageIndex-1)*@PageSize ROWS FETCH NEXT @PageSize ROWS ONLY  
	RETURN 
END

GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllUserList]    Script Date: 15/07/2023 3:44:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sreemonta Bhowmik
-- Create date: 25.04.2023
-- Description:	Get all users list
-- =============================================
--EXEC SP_GetAllUserList 's','Id','ASC',2,1
CREATE     PROCEDURE [dbo].[SP_GetAllUserList]
@SearchTerm AS VARCHAR(50)='',
@SortColumnName AS VARCHAR(50)='',
@SortColumnDirection AS VARCHAR(50)='',
@PageIndex AS INT=0,
@PageSize AS INT=10
AS
BEGIN
	DECLARE @QUERY AS VARCHAR(MAX)='',@ORDER_QUERY AS VARCHAR(MAX)='',@CONDITIONS AS VARCHAR(MAX)='',
	@PAGINATION AS VARCHAR(MAX)=''

	SET @QUERY='SELECT UI.Id, UI.FullName,UI.UserName,NULL AS [Password],UI.SaltKey,UI.Email,UI.UserRole,UI.LastLoginAttemptAt,
	UI.LoginFailedAttemptsCount,UI.CreatedBy,UI.CreatedDate,UI.UpdatedBy,UI.UpdatedDate
	FROM UserInfo UI '

	-- SEARCH OPERATION
	IF(ISNULL(@SearchTerm,'')<>'')
	BEGIN
		IF(ISDATE(@SearchTerm)=1) SET @CONDITIONS=' WHERE CAST(CreatedBy AS DATE)=CAST('+@SearchTerm+'AS DATE)'
		--ELSE IF(ISNUMERIC(@SearchTerm)=1)
		--BEGIN
		--	SET @CONDITIONS=' WHERE salary='+@SEARCH_TEXT+' OR phone_number= CAST('+@SEARCH_TEXT+'AS VARCHAR(50))'
		--END
		ELSE
		BEGIN
			SET @CONDITIONS='
			WHERE
			Id LIKE ''%'+@SearchTerm+'%''
			OR FullName LIKE ''%'+@SearchTerm+'%''
			OR UserName LIKE ''%'+@SearchTerm+'%''
			OR Email LIKE ''%'+@SearchTerm+'%''
			OR UserRole LIKE ''%'+@SearchTerm+'%''
		'
		END
	END

	-- SORT OPERATION
	IF(ISNULL(@SortColumnName,'')<>'' AND ISNULL(@SortColumnDirection,'')<>'')
	BEGIN
		SET @ORDER_QUERY=' ORDER BY '+@SortColumnName+' '+@SortColumnDirection
	END
	ELSE SET @ORDER_QUERY=' ORDER BY Id ASC'

	-- PAGINATION OPERATION
	IF(@PageSize>0)
	BEGIN
		SET @PAGINATION=' OFFSET '+(CAST(((@PageIndex-1)*@PageSize) AS varchar(10)))+' ROWS
		FETCH NEXT '+(CAST(@PageSize AS varchar(10)))+' ROWS ONLY'
	END

	IF(@CONDITIONS<>'') SET @QUERY+=@CONDITIONS
	IF(@ORDER_QUERY<>'') SET @QUERY+=@ORDER_QUERY
	IF(@PAGINATION<>'') SET @QUERY+=@PAGINATION

	--PRINT(@CONDITIONS)
	PRINT(@QUERY)
	EXEC(@QUERY)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllUserPagingSearch]    Script Date: 15/07/2023 3:44:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC SP_GetAllUserPagingSearch 'Aa', 1, 10, ''
CREATE PROCEDURE [dbo].[SP_GetAllUserPagingSearch]
      @SearchTerm VARCHAR(100) = ''
      ,@PageIndex INT = 1
      ,@PageSize INT = 10
      ,@TotalRecords INT OUTPUT
AS
BEGIN
      SET NOCOUNT ON;
      SELECT ROW_NUMBER() OVER
      (
            ORDER BY [Id] ASC
      )AS RowNumber
             ,Id
             ,FullName
             ,UserName
             ,NULL AS [Password]
             ,SaltKey
             ,Email
             ,UserRole
             ,LastLoginAttemptAt
             ,LoginFailedAttemptsCount
             ,CreatedBy
             ,CreatedDate
			 ,UpdatedBy
             ,UpdatedDate
      INTO #Results
      FROM UserInfo UI
      WHERE UI.UserName LIKE '%' + ISNULL(@SearchTerm,'') + '%' OR ISNULL(@SearchTerm,'') = ''
    
      SELECT @TotalRecords = COUNT(*)
      FROM #Results
          
      SELECT Id, FullName,UserName,NULL AS [Password],SaltKey,Email,UserRole,LastLoginAttemptAt,
	  LoginFailedAttemptsCount,CreatedBy,CreatedDate,UpdatedBy,UpdatedDate
      FROM #Results
      WHERE RowNumber BETWEEN(@PageIndex -1) * @PageSize + 1 AND(((@PageIndex -1) * @PageSize + 1) + @PageSize) - 1
    
      DROP TABLE #Results
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUserById]    Script Date: 15/07/2023 3:44:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sreemonta Bhowmik
-- Create date: 24.04.2023
-- Description:	Get user details by supplying ID
-- =============================================
--EXEC SP_GetUserById 'D670A7BA-F10D-4241-8230-6CD8E0A2B7C0'
CREATE PROCEDURE [dbo].[SP_GetUserById] 
	-- Add the parameters for the stored procedure here
	@Id UNIQUEIDENTIFIER
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT UI.Id, UI.FullName,UI.UserName,NULL AS [Password],UI.SaltKey,UI.Email,UI.UserRole,UI.LastLoginAttemptAt,
	UI.LoginFailedAttemptsCount,UI.CreatedBy,UI.CreatedDate,UI.UpdatedBy,UI.UpdatedDate
	FROM UserInfo UI 
	WHERE UI.Id = @Id
END

GO
/****** Object:  StoredProcedure [dbo].[SP_SaveUpdateUser]    Script Date: 15/07/2023 3:44:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SaveUpdateUser]
	@ActionName     VARCHAR(10), --Save Update
    @Id				UNIQUEIDENTIFIER,
    @FullName		NVARCHAR(50),
    @UserName		NVARCHAR(50),
	@Password		NVARCHAR(MAX),
	@SaltKey		NVARCHAR(MAX),
	@Email			VARCHAR(200),
	@UserRole		VARCHAR(15),
	@CreatedBy		NVARCHAR(MAX),
	@CreatedDate	DATETIME2(7),
	@UpdatedBy		NVARCHAR(MAX),
	@UpdatedDate	DATETIME2(7),
	@IsActive		BIT
AS
BEGIN
    SET NOCOUNT ON;

    IF @ActionName = 'Save' -- Save
    BEGIN
        INSERT INTO [dbo].[UserInfo] ([Id],[FullName],[UserName],[Password],[SaltKey],[Email],[UserRole],[LastLoginAttemptAt]
           ,[LoginFailedAttemptsCount],[CreatedBy],[CreatedDate],[UpdatedBy],[UpdatedDate],[IsActive])
     VALUES
           (@Id,@FullName, @UserName,@Password,@SaltKey, @Email, @UserRole,NULL, 0, @CreatedBy,@CreatedDate,NULL, NULL, @IsActive)

        SELECT @@ROWCOUNT AS 'RowsAffected';
    END
    ELSE IF @ActionName = 'Update' -- Update
    BEGIN
        UPDATE UserInfo SET [FullName] = @FullName, [UserName] = @UserName, [Email] = @Email,[UserRole] = @UserRole
		, [UpdatedBy] = @UpdatedBy,[UpdatedDate] = @UpdatedDate, IsActive = @IsActive
        WHERE [Id] = @Id;

        SELECT @@ROWCOUNT AS 'RowsAffected';
    END
    ELSE
    BEGIN
        RAISERROR('Invalid action flag. Must be either ''Save'' or ''Update''.', 16, 1);
    END
END

GO
USE [master]
GO
